{% load static %}
<footer class="bg-light text-center ">
    <div class="container p-4">

      <section class="mb-4">
        <a href="mailto:rodrigobonelli95@gmail.com" target="_blank">
            <img src="{% static 'media/logo/email.png' %}" alt='email' class="rounded-circle" >
        </a>&ensp;&ensp;
        <a href="https://www.linkedin.com/in/rodrigo-bonelli-317169236/" target="_blank">
            <img src="{% static 'media/logo/linkedin.png' %}" alt='linkdin' class="rounded-circle" >
        </a>&ensp;&ensp;
        <a href="https://www.instagram.com/_rodrigobonelli/" target="_blank">
            <img src="{% static 'media/logo/instagram.png' %}" alt='instagram' class="rounded-circle" >
        </a>&ensp;&ensp;
        <a href="https://github.com/bonelli95" target="_blank">
        <img src="{% static 'media/logo/github-logo.jpg' %}" alt='github' class="rounded-circle" >
        </a>
      </section>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright:
        <a class="text-dark" href="https://rodrigoportfolio.vercel.app">Portfolio - Rodrigo</a>
      </div>
    </div>
</footer>