{% extends 'pystore/base.html' %}
{% load static %}
{% block content %}
<section class="banner">
    <img src = "{% static 'media/banner/banner.jpg' %}" alt="banner">
</section>

<body>
    <div class="grafismo-azul"></div>
    <section class="adicionar-produto">
      <h1 class="produtos"><span class="texto-azul">Bag</span></h1>
    </section>
    <section class="carrinho">
      <img src="{% static 'media/logo/cart.png' %}" alt="cart">

      <div class="titulo-wrapper">
        <h2 class="carrinho__titulo">Products in the bag</h2>
      </div>

      <section class="carrinho__produtos" id="lista-produtos">
        {% for item in bag_items %}
        <section class="carrinho__produtos__produto">
            <img src="{% static 'product_photos/' item.product.image %}" alt="{{ item.product.title }}">
            <span class="texto-azul">Name: {{ item.product.title }}</span>
            <span class="texto-azul">Quantity: {{ item.quantity }}</span>
            <span class="texto-azul">Price: €{{ item.total_price|floatformat:2 }}</span>
        </section>
        {% empty %}
        <p>Your bag is empty.</p>
        {% endfor %}
      </section>

      <div class="divisoria"></div>

      <p class="carrinho__total">
        Total: <span class="texto-azul" id="valor-total">{{ total_price|floatformat:2 }}</span>
      </p>
      <a href="{% url 'clear_bag' %}">
      <button class="btn btn-danger" onclick="return confirm('Are you sure you want to clear your bag?');">Clear Bag</button>
      </a>
    </section>
</body>
{% endblock%}