{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<script type="text/javascript" src="{% static 'product-filter.js' %}"></script>
			<h3 class="mb-4 border-bottom pb-1">Filters</h3>
			
			<div class="card mb-4">
				<h6 class="card-header">Price</h6>
				<div class="list-group list-group-flush">
					<li class="list-group-item">
						<input type="range" value="{{minMaxPrice.price__min}}" max={{minMaxPrice.price__max}} min={{minMaxPrice.price__min}} id="rangeInput" oninput="maxPrice.value=this.value" />
						<p>{{minMaxPrice.price__min}}-{{minMaxPrice.price__max}}</p>
					</li>
					<li class="list-group-item">
						Maximum: <input type="number" value="{{minMaxPrice.price__min}}" max={{minMaxPrice.price__max}} min={{minMaxPrice.price__min}} class="form-control" id="maxPrice" onkeyup="rangeInput.value=this.value" id="maxPrice" />
						<button id="priceFilterBtn" class="btn btn-info btn-sm mt-1">Filters</button>
					</li>
				</div>
			</div>
			
			<div class="card mb-4">
				<h6 class="card-header">Colors</h6>
				<div class="list-group list-group-flush">
					{% for color in colors %}
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="color" value="{{color.color__id}}" type="checkbox" />&nbsp;
						<button class="btn" style="background-color: {{color.color__color_code}}; margin-top: -5px;"></button>
					</li>
					{% endfor %}
				</div>
			</div>
		
			<div class="card mb-4">
				<h6 class="card-header">Categories</h6>
				<div class="list-group list-group-flush">
					{% for cat in catagory %}
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="category" value="{{cat.category__id}}" type="checkbox" />&nbsp;
						{{cat.category__title}}
					</li>
					{% endfor %}
				</div>
			</div>
		
			<div class="card mb-4">
				<h6 class="card-header">Brands</h6>
				<div class="list-group list-group-flush">
					{% for brand in brands %}
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="brand" value="{{brand.brand__id}}" type="checkbox" />&nbsp;
						{{brand.brand__title}}
					</li>
					{% endfor %}
				</div>
			</div>
			
			<div class="card mb-4">
				<h6 class="card-header">Sizes</h6>
				<div class="list-group list-group-flush">
					{% for size in sizes %}
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="size" value="{{size.size__id}}" type="checkbox" />&nbsp;
						{{size.size__title}}
					</li>
					{% endfor %}
				</div>
			</div>
</script>