{% extends 'pystore/base.html' %}
{% load static %}
{% block content %}
    <main>
        <section class="banner">
            <img src = "{% static 'media/banner/banner.jpg' %}" alt="banner">
        </section>
        <section class="produtos">
            {% for message in messages %}
              <div class="alert alert-primary">
                <p id='message'> {{ message }}</p>
              </div>
            {% endfor %}
            <h2>Featured Products</h2>
            <div class="produtos-grid">
                {% for product in data %}
            <div class="produto">
                <img src="{{ product.image.url }}" alt="{{ product.title }}">
                <h3>{{ product.title }}</h3>
                <p>{{ product.description }}</p>
                {% for attribute in product.productattribute_set.all %}
                    <h6><span class="preco">€{{ attribute.price }} <span class=""></span></h6>
                {% endfor %}
                <a href="{% url 'bag_add' product.id %}" class="btn">Add to Bag</a>
            </div>
        {% endfor %}
            </div>
        </section>
        <p class="my-4 text-center"><a href="{% url 'product' %}" class="btn btn-dark btn-sm">All Products <i class="fa fa-long-arrow-alt-right"></i></a></p>
    </main>
{% endblock %}