{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="banner">
    <img src = "{% static 'media/banner/banner.jpg' %}" alt="banner">
</section>
    <section class="produtos">
        <h3>Categories</h3>
            {% if data %}
                    <div class="produtos-grid">
                        {% for cat in data %}
                        <div class="produto">
                            <a href="{% url 'category_product_list.html' cat.id %}"><img src="/media/{{ cat.image }}" alt="{{ cat.title }}"></a>
                            <h4><a href="{% url 'category_product_list.html' cat.id %}">{{ cat.title }}</a></h4>
                        </div>
                {% endfor %}                    
                    </div>
            </div>
            {% endif %}
    </section> 
{% endblock %}