{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <header>
        <h1>Pystore</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Categorys</a></li>
                <li><a href="#">Brand</a></li>
                <li><a href="#">Bag</a></li>
            </ul>
        </nav></br>
        <form action="#">
            <input type="search" placeholder="Search products">
            <button type="submit">Search</button>
        </form>
    </header>
    <main>
        <section class="banner">
            <img src = "{% static 'media/banner/banner.jpg' %}" alt="banner">
        </section>
        <section class="produtos">
            <h2>Our Products</h2>
            <div class="produtos-grid">
                <div class="produto">
                    <img src="{% static 'media/produtos/sneakers/sneakers.jpg' %}" alt="tênis">
                    <h3>Men's Fashion Sport Sneakers</h3>
                    <p></p>
                    <span class="preco">$ 100,00</span>
                    <a href="#" class="btn">Buy</a>
                </div>
                <div class="produto">
                    <img src="{% static 'media/produtos/sneakers/sneakers.jpg' %}" alt="tênis">
                    <h3>Men's Fashion Sport Sneakers</h3>
                    <p></p>
                    <span class="preco">$ 100,00</span>
                    <a href="#" class="btn">Buy</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Seu Nome - Loja E-commerce</p>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </footer>
</body>
</html>
