{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <section class="banner">
            <img src = "{% static 'media/banner/banner.jpg' %}" alt="banner">
        </section>
        <section class="produtos">
            <h2>Featured Products</h2>
            <div class="produtos-grid">
                <div class="produto">
                    <img src="{% static 'media/produtos/sneakers/sneakers.jpg' %}" alt="tênis">
                    <h3>Men's Fashion Sport Sneakers</h3>
                    <p></p>
                    <span class="preco">$ 100,00</span>
                    <a href="#" class="btn">Buy</a>
                </div>
                <div class="produto">
                    <img src="{% static 'media/produtos/sneakers/sneakers.jpg' %}" alt="tênis">
                    <h3>Men's Fashion Sport Sneakers</h3>
                    <p></p>
                    <span class="preco">$ 100,00</span>
                    <a href="#" class="btn">Buy</a>
                </div>
            </div>
        </section>
        <p class="my-4 text-center"><a href="{% url 'product' %}" class="btn btn-dark btn-sm">All Products <i class="fa fa-long-arrow-alt-right"></i></a></p>
    </main>
{% endblock %}