{% extends 'pystore/base.html' %}
{% load static %}
{% block content %}

<h2>Confirmação de Compra</h2>
<p>Você está prestes a comprar os seguintes itens:</p>

<ul>
    {% for item in bag_items %}
    <li>
        <img src="{{ item.image_url }}" alt="{{ item.product.title }}">
        {{ item.product.title }} - Quantidade: {{ item.quantity }} - Preço: €{{ item.total_price|floatformat:2 }}
    </li>
    {% endfor %}
</ul>

<form method="POST">
    <button type="submit">Confirmar Pagamento</button>
</form>

{% endblock %}