{% extends 'pystore/base.html' %}
{% load static %}
{% block content %}

<h2>Purchase Confirmation</h2>
<p>You are about to purchase the following items:</p>

<section class="carrinho__produtos__produto">
<ul>
    {% for item in bag_items %}
    <li>
        <img src="{{ item.image_url }}" alt="{{ item.product.title }}">
        <strong>{{ item.product.title }}</strong> - Quantidade: {{ item.quantity }} - Preço: €{{ item.total_price|floatformat:2 }}
    </li>
    {% endfor %}
</ul>
</section>
<form method="POST">
    {% csrf_token %}
    <p><button type="submit" class="btn btn-success" >Confirmar Pagamento</button></p>
</form>

{% endblock %}