{% extends 'pystore/base.html' %}
{% load static %}
{% block content %}
<section class="banner">
    <img src = "{% static 'media/banner/banner.jpg' %}" alt="banner">
</section>
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
    <body>
        <section class="carrinho__produtos__produto">
          <div class="product">
            {% comment %} <img
              src="https://i.imgur.com/EHyR2nP.png"
              alt="The cover of Stubborn Attachments"
            /> {% endcomment %}
              <ul>
                  {% for item in bag_items %}
                  <li>
                      <img src="{{ item.image_url }}" alt="{{ item.product.title }}">
                      <strong>{{ item.product.title }}</strong> - Quantity: {{ item.quantity }} - Price: €{{ item.total_price|floatformat:2 }}
                  </li>
                  {% endfor %}
              </ul>
              <div class="divisoria"></div>
              <p class="carrinho__total">
                Total: <span class="texto-azul" id="valor-total">{{ total_price|floatformat:2 }}</span>
              </p>
          </div>
          <p><button type="button" id="checkout-button" class="btn btn-success">Checkout</button></p>
        </section>
        {% csrf_token %}
      <script type="text/javascript">
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        let stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
        let checkoutButton = document.getElementById('checkout-button');
        checkoutButton.addEventListener('click', function () {
          fetch("{% url 'create-checkout-session' product.id %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken
            }
          })
            .then(function (response) {
              return response.json();
            })
            .then(function (session) {
              return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
              if (result.error) {
                alert(result.error.message);
              }
            })
            .catch(function (error) {
              console.error('Error:', error);
            });
        });
    
      </script>
    </body>
{% endblock %}